@charset "utf-8";

.competicao {
  font-family: arial, sans-serif;
  background: #131212;
  clear: rgba(5, 5, 5, 0.5);
}

.modo div {
  background-color: #917d11;
  height: 60px;
  right: 800px;
  color: rgb(255, 255, 255);
  font-size: 20pt;
  margin: -30px 0px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cabecalho h1 {
  text-align: center;
}

